.hamburgerBtn {
  cursor: pointer;
}

.hamburgerBtn .material-icons {
  font-size: 24px;
  color: #333;
}

.sideNav {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  transition: left 0.3s ease;
  padding: 10px 20px;
}

.sideNav.open {
  left: 0;
}

.navHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.closeBtn {
  border: none;
  display: inline-block;
  background: none;
}

.closeIcon {
  font-size: 30px;
}

.innerForm {
  display: flex;
  padding: 11px 13px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 7px;
}

.inputForm {
  border: none;
  width: 100%;
}
/* 
.resetButton {

} */

.resetButton,
.searchButton {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  border: none;
  background: #fff;
}

.locationList {
}

.location {
}
