.innerForm {
  display: flex;
  padding: 11px 13px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 7px;
  width: 100%;
}

.inputForm {
  border: none;
  width: 800%;
  font-size: 1rem;
}

.resetButton,
.searchButton {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  border: none;
  background: #fff;
}

.resetButton {
  margin-right: 0.5rem;
}

.locationList {
  margin-top: 2rem;
}

.location {
  background: #fff;
}

.locationButton {
  padding: 1rem;
  width: 100%;
  text-align: left;
  background: none;
  border: none;

  &:hover {
    font-weight: 700;
  }
}
