.card {
  /* width: 220px !important; */
  /* height: 285px; */
  border-radius: 13px;
  border: 1px solid #ffb347;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

.desc {
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 0.9rem;
  color: #000;
}

.swiperWrapper {
  position: relative;
}

.swiper-navigation {
  position: absolute !important;
  bottom: 0 !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 10% !important;
  background: none !important;
  border: none !important;
}
