.card {
  width: 190px !important;
  height: 250px;
  border-radius: 13px;
  border: 1px dotted #f05050;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category {
  font-size: 1.5rem;
  font-weight: 600;
}
