.card {
  width: 210px !important;
  height: 280px;
  border-radius: 13px;
  border: 1px solid #f05050;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category {
  font-size: 1.5rem;
  font-weight: 600;
}

.desc {
  margin-top: 1rem;
  line-height: 1.1;
}
