.container {
  padding: 20px;
  border-radius: 10px;
}

.weatherInfo {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.temperature {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.description {
  color: #666;
  margin-top: 0.5rem;
}

.recommendButton {
  display: block;
  background-color: #f05050;
  color: white;
  padding: 0 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  border: none;
  margin-top: 20px;
  font-size: 0.9rem;
  height: 42px;
  line-height: 42px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
