.container {
  max-width: 480px; /* 일반적인 모바일 화면 너비 */
  margin: 0 auto; /* 중앙 정렬 */
  padding: 25px 30px;
  height: 100vh; /* 전체 뷰포트 높이 */
  overflow-y: auto; /* 세로 스크롤 허용 */
  background-color: #f5f5f5; /* 배경색 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과로 모바일 느낌 강조 */
}

.header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.content {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.recommendButton {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #1b73d1;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.recommendButton:hover {
  background-color: #0056b3;
}

/* 미디어 쿼리를 사용하여 큰 화면에서도 모바일 레이아웃 유지 */
@media (min-width: 768px) {
  .container {
    margin-top: 20px;
    margin-bottom: 20px;
    height: calc(100vh - 40px); /* 상하 여백 고려 */
    border-radius: 10px; /* 모바일 기기 모양 연출 */
  }
}
