.container {
  padding: 20px;
  border-radius: 10px;
}

.weatherInfo {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.temperature {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.description {
  color: #666;
  margin-top: 0.5rem;
}

.recommendButton {
  display: inline-block;
  background-color: #007bff;
  background-color: #f05050;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  border: none;
  margin-top: 20px;
}

.recommendButton:hover {
  background-color: #0056b3;
  background-color: #ca4141;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.weatherCard {
  display: flex;
  gap: 17px;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 130px;
}

.skeletonWrapper {
  width: 100%;
  animation: skeleton-loading 1s linear infinite alternate;
  align-items: center !important;
  justify-content: center !important;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.loadingText {
  color: #333;
  text-align: center;
  margin: 0 auto;
}

.weatherCard {
  display: flex;
  gap: 17px;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 130px;
}
