.skeletonWrapper {
  animation: skeleton-loading 1s linear infinite alternate;
  align-items: center !important;
  justify-content: center !important;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.loadingText {
  color: #333;
  text-align: center;
  margin: 0 auto;
}

.container {
  padding: 20px;
  border-radius: 10px;
  width: 330px;
}

.weatherCard {
  display: flex;
  gap: 17px;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 130px;
}

.weatherIcon {
  width: 100px;
  height: 100px;
  border: 2px dotted black;
}

.weatherInfoWrap {
  flex-grow: 1;
}

.title {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.currentTemp {
  font-size: 30px;
  margin: 0;
}

.info {
  font-size: 15px;
  margin: 5px 0;
}
