.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.card {
  /* background-color: #fff; */
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  padding: 20px;
}

.weatherInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.temperature {
  font-size: 2rem;
  font-weight: bold;
  color: #ff6f61;
  margin-right: 10px;
}

.description {
  font-size: 1rem;
  color: #666;
}

.recommendations {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recommendations li {
  background-color: #ff6f61;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
}
