.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.weatherInfo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.temperature {
  font-size: 2rem;
  font-weight: bold;
  color: #ff6f61;
  margin-right: 10px;
}

.description {
  font-size: 1rem;
  color: #666;
}

.tipTitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.tipContents {
  font-weight: 500;
  line-height: 1.5;
  font-style: italic;
}
